<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649869804849-2ttqpb9sl0956ua5vq6ore19rq4bet2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649869804849-2ttqpb9sl0956ua5vq6ore19rq4bet2g</string>
	<key>API_KEY</key>
	<string>AIzaSyCAVbZKyYqMRCA0xnstYZYY9unzcqUDBB0</string>
	<key>GCM_SENDER_ID</key>
	<string>649869804849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motiv</string>
	<key>PROJECT_ID</key>
	<string>motiv-c5ee1</string>
	<key>STORAGE_BUCKET</key>
	<string>motiv-c5ee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649869804849:ios:0415aeceb7196bf45f9c10</string>
</dict>
</plist>